.box1 {
    border: 5px solid greenyellow;
    margin: 1em;
    padding: 0.5em;
    width: 500px;
 
}
.box2 {
    border: 5px solid greenyellow;
    margin: 1em;
    padding: 0.5em;
    width: 500px;
   
}
.box0 {
    margin: 1em;
    padding: 0.5em;
}
.filed2 {
display: flex;
justify-content: center;
}
body {
    background-image: url("./photos/opa.webp") ;
    background-repeat: no-repeat;
    margin:0;
    width: 100%;
   }
#nav {
    background-color: azure;
}
ul li {
    float: right;
}